.nav-bar .logo {
  height: 42px;
  margin-right: 6px;
  border-radius: 0.25rem;
}

.nav-bar-title {
  display: flex;
  align-items: center;
}

.image {
  border-radius: 0.5rem;
}

:root {
  --c-brand: rgb(11, 105, 228);
  --c-brand-light: rgb(11, 105, 228);
}

.custom-block.tip {
  border-color: var(--c-brand-light);
}

.DocSearch {
  --docsearch-primary-color: var(--c-brand) !important;
}

.tag {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-width: 1px;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  border-radius: 0.25rem;
  vertical-align: middle;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tag.beta {
  background-color: #e7c000;
}

.tag.deprecated {
  background-color: #c00;
}

.tag.math {
  background-color: rgba(11, 105, 228, 0.9);
}

.tag.array {
  background-color: rgba(76, 11, 228, 0.8);
}

.tag.string {
  background-color: #e7c100;
}

.tag.object {
  background-color: #e77000;
}

.tag.alias {
  background-color: #00e7a2;
}

.my-1 {
  margin-top: 0.1rem;
  margin-bottom: 0;
}

.mr-2 {
  margin-right: 0.5rem;
}

.desc {
  --tw-gradient-to: #dbe4ff;
  --tw-gradient-from: #ffffff;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(224, 231, 255, 0));
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-size: large;
  border-radius: 0.375rem;
  --tw-border-opacity: 1;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(11, 105, 228, var(--tw-border-opacity));
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.parameters-detail {
  margin: 1rem 0 1rem 0;
}

.table > thead > tr > th:nth-child(2) {
  width: 100%;
}

.returns {
  background-color: rgba(11, 105, 228, 0.2);
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  color: rgb(11, 105, 228);
}

hr {
  border-top: none;
  border-bottom: 1px solid var(--c-divider);
}

hr:last-child {
  display: none;
}
