.nav-bar .logo {
  height: 30px;
  margin-right: 6px;
}

:root {
  --c-brand: rgb(11, 105, 228);
  --c-brand-light: rgb(11, 105, 228);
}

.custom-block.tip {
  border-color: var(--c-brand-light);
}

.DocSearch {
  --docsearch-primary-color: var(--c-brand) !important;
}
